:host /deep/ {

	.loginDiv {
		background-image: url('../../images/Lucy_Vigrass_love_learning_RGB.png');
		background-size: 100%;

	}


	.login-p1-image {
		background-image: url('../../images/Pearson.png');
		background-size: 100%
	}

	.login-card {
		min-height: 350px;
		box-sizing: initial !important;
	}

}
